{% extends "inicio.html" %}
{% block conteudo %}

<body>
    <main>
        <div class="container-main">
             <div class="container-main__pergunta">
                <h1>O que deseja fazer?</h1>
             </div>
             <div class="container-main__btn-login">
                <a href="/login"><button>Fazer Login</button></a>
             </div>
             <div class="container-main__btn-cadastrar">
                <a href="/cadastrar"><button>Fazer Cadastro</button></a>
             </div>
        </div>
    </main>
</body>

{% endblock %}